<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 justify-content-center ">
     
      <div class="">
         
        <nav class="navbar navbar-expand-lg navbar-white text-center  justify-content-center">
          <li class="nav-item active p-2 time navbar-nav custom-font">
            {{ time | date: 'hh:mm:ss a' }}
          </li>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav custom-font">
             
              <li class="nav-item active ">
                <a class="nav-link text-primary" href="#">Home </a>
              </li>
              <li class="nav-item text-white">
                <a class="nav-link text-white" href="#project">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#project" (click)="scrollPage('project')">Projects</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-white"  (click)="scrollPage('contact')">Contact</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>

    </div>
    <div class="col-md-1 pt-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
        <path
          d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
      </svg>

    </div>
  </div>


  <div>

    <div class="">
      <div class="row">
        <div class="col-sm-5">


          <div class="details" #about>
            I'm glad you're here.
            My name is Payal Samal, and I work at ESSPL as an associate software developer.I have experience spanning
            more than a year.I primarily use spring boot to construct REST APIs.I also work in UI/UX.
            <br>
            <a href="javascript:void(0)" style="cursor:pointer" (click)="downloadPdf()">


              <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Resume</button>
            </a>

          </div>
        </div>
        <div class="col-sm-5">

          <div class="image">
            <img src="{{imageSrc}}" width="150%" />
          </div>
        </div>
        <!-- *************************************social******************************** -->
        <div class="col-sm-2 mb-3">
          <div class="social float-right me-3">
            <br><br>
            <a href="https://github.com/payalsamal"> <img src="{{gitHub}}" width="12%" height="12%" /></a>
            <br><br>
            <a href="https://www.linkedin.com/in/payalsamal/"><img src="{{linkedIn}}" width="12%" height="12%" /></a>
            <br><br>
            <a href="https://twitter.com/home"><img src="{{twitter}}" width="12%" height="12%" /></a>
            <br><br>
            <audio controls class="d-none" #music>
              <source src="https://nf1f8200-a.akamaihd.net/downloads/ringtones/files/mp3/starboy-60048.mp3"
                type="audio/mpeg" />
            </audio>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              (click)="playMusic(music)" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
              <path
                d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
              <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
              <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
            </svg>

          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- *************************************project******************************** -->
 
  <div class="container justify-content-between mt-7" id="project">

    <h1 class="text-center mt-5">
      Projects
    </h1>
    <div class="row project ">
      <div class="w-33 menu">


        <h2>
          20High</h2> 20High is cloud based tms. Whose aim is to solve some of the existing problems like lack of
        carrier
        information,shipping cost,shortage of containers etc in the supply chain through advanced technology.
        <h6>
          Resonsibility
        </h6>
        My role in this project is to create REST APIs.I worked with a variety of apis, including filter, pagination,
        crud,
        and others.

      </div>
      <div class="w-33 menu ">
        <h2>
          Weather App</h2> 20High is cloud based tms. Whose aim is to solve some of the existing problems like lack of
        carrier
        information,shipping cost,shortage of containers etc in the supply chain through advanced technology.
        <h6>
          Resonsibility
        </h6>
        My role in this project is to create REST APIs.I worked with a variety of apis, including filter, pagination,
        crud,
        and others.
      </div>
      <div class="w-33 menu ">
        <h2>
          Portfolio</h2> 20High is cloud based tms. Whose aim is to solve some of the existing problems like lack of
        carrier
        information,shipping cost,shortage of containers etc in the supply chain through advanced technology.
        <h6>
          Resonsibility
        </h6>
        My role in this project is to create REST APIs.I worked with a variety of apis, including filter, pagination,
        crud,
        and others.
      </div>
    </div>

  </div>
  <!-- *************************************contact******************************** -->
  <div class="contact">

    <div class="row">
      <div class="col-sm">
        <div>
          <h1 class="text-center pt-5 mt-7" id="contact">Contact</h1>
          <div class="contact-form-wrapper d-flex justify-content-center form-group">
            <form action="#" class="contact-form">
              <h5 class="title">Contact Me</h5>
              <p class="description">Feel free to contact if you need any assistance, any help or another question.
              </p>
              <div>
                <input type="text" class="form-control rounded border-white mb-3 form-input" id="name"
                  placeholder="Name" required>
              </div>
              <div>
                <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email"
                  required>
              </div>
              <div>
                <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30"
                  placeholder="Message" required></textarea>
              </div>
              <div class="submit-button-wrapper">
                <input type="submit" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="col-md-12">
  <!-- <div class="row"> -->

    <footer class="text-center"> Made with Love <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg></footer>
  <!-- </div> -->

</div>